.idea/
bin/
dist/
js-lib/
lib/
test-lib/
eclipse-bin/
override.properties
testdata.log
testdata.properties
testdata.script
.classpath
.project
.settings
projects/
plugins/
build-res/pentaho-js-build/
build-res/pentaho-js-build.zip
build-res/dojo-*
build-res/module-scripts/
build-res/requireCfg-raw.js
build-res/requireCfg.js
*.class
*.jar
*.war
*.ear
*.iml
/war
*.lck
/pentaho.log
node_modules/
checkstyle/
out/
target/
.eslintcache
