.idea/
bin/
dist/
js-lib/
lib/
test-lib/
eclipse-bin/
override.properties
testdata.log
testdata.properties
testdata.script
.classpath
.project
.settings
projects/
plugins/
*.class
*.jar
*.war
*.ear
*.iml
/war
*.lck
/pentaho.log
node_modules/
checkstyle/
out/
target/
.eslintcache
