.dijitDialog .dijitDialogPaneContent #downloadProgress .dijitProgressBarTile {
  background: #E6EFF6;
}

.pentaho-dialog .feedbackscreen-content {
  background: transparent;
}

.feedbackscreentextupper {
  padding: 10px 0 20px 7px;
  line-height: 2em;
  color: #333333;
}

.feedbackscreentextmiddle {
  padding: 0 0 0 7px;
}

.feedbackscreentextbottom {
  padding: 10px 0 0 0;
  line-height: 2em;
  width: 50%;
  text-align: center;
}

.feedbackscreentitle {
  padding-left: 7px !important;
}

#downloadProgress {
  width: 98%;
}

.bottom-table {
  width: 100%;
  padding-bottom: 8px;
}

.pentaho-reportviewer-errordialogmessage {
  margin-left: -8px;
}

/*report viewer specific*/
.topViewer.leafViewer #reportControlPanel {
  border-top: 0;
}

.topViewer.leafViewer .pentaho-toggle-button-container .pentaho-toggle-button-horizontal {
  color: #fff;
  background: #0c4a9b;
  display: inline-block;
  margin: 0;
  padding: 8px 10px;
  border: 0;
}

.topViewer.leafViewer .pentaho-toggle-button-container .pentaho-toggle-button-horizontal:not(.pentaho-toggle-button-horizontal-first) {
  border-left: 1px solid #fff;
}

.topViewer.leafViewer div.prompt-panel div.parameter {
  margin-right: 15px;
}

.topViewer.leafViewer div.prompt-panel div.parameter-wrapper {
  margin: auto 0px 4px 0px;
}

.topViewer.leafViewer .pentaho-toggle-button-container .pentaho-toggle-button-horizontal.pentaho-toggle-button-down {
  background: #0d1f49;
  background-image: url(images/checkbox-hover.png);
  background-repeat: no-repeat;
  background-position: left 8px center;
}

.topViewer.leafViewer .pentaho-toggle-button-container .pentaho-toggle-button-horizontal.pentaho-toggle-button-up:hover {
  background-color: #0D1F49;
}

.topViewer.leafViewer .pentaho-toggle-button-container .pentaho-toggle-button-horizontal button {
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px;
  margin: 0;
}

.topViewer.leafViewer div.prompt-panel .pentaho-toggle-button-container {
  margin: 0;
}

.topViewer.leafViewer div.prompt-panel .pentaho-toggle-button-container > div {
  height: auto;
  padding: 0px 0 3px 0;
}

div.prompt-panel div.parameter-label.parameter-label {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}

#reportControlPanel select {
  overflow-y: auto;
  margin-bottom: 10px;
  line-height: 22px;
}

.tundra .dijitToolbar,
.tundra .dijitToolbar#toolbar {
  padding: 3px;
}

div.submit-panel label.auto-complete-checkbox input[type='checkbox'] {
  top: 2px;
  position: relative;
}

.nonMobile.styled.styled #reportControlPanel {
  margin: 0;
}

.pentaho-padding-sm.pentaho-padding-sm {
    padding: 4px 0;
}

#toppanelinner {
    padding: 0 4px;
}

.dijitDialogPaneContent {
  width: 100% !important;
}
