<?xml version="1.0" encoding="UTF-8"?>

<plugin title="reporting">

   <lifecycle-listener class="org.pentaho.reporting.platform.plugin.LifecycleListener"/>

   <static-paths>
     <!-- this translates to /pentaho/content/reporting/resources/* -->
     <static-path url="/reporting/reportviewer" localFolder="reportviewer"/>
   </static-paths>

    <menu-items/>

    <overlays/>

    <content-types>
      <content-type type="prpt" mime-type="application/zip">
        <title>Pentaho Report</title>
        <description>Pentaho Report Bundle</description>
        <icon-url>content/reporting/reportviewer/prptFileType.png</icon-url>
        <operations>
          <!-- for any of these urls, you can add layout=flow to the url -->
          <operation>
            <id>RUN</id>
            <perspective>app</perspective>
          </operation>
          <operation>
            <id>NEWWINDOW</id>
            <perspective>app</perspective>
          </operation>
          <operation>
            <id>SCHEDULE_NEW</id>
            <perspective>app</perspective>
          </operation>
          <operation>
            <id>SCHEDULE_EDIT</id>
            <perspective>app</perspective>
          </operation>
          <operation>
            <id>BACKGROUND</id>
          </operation>
          <operation>
            <id>PARAMETER</id>
          </operation>
        </operations>
      </content-type>
    </content-types>

    <content-generator id="reporting viewer" type="prpt/app">
      <classname>org.pentaho.reporting.platform.plugin.ReportViewerDelegateContentGenerator</classname>
      <fileinfo-classname>org.pentaho.reporting.platform.plugin.ReportFileMetaDataProvider</fileinfo-classname>
      <title>Reporting Viewer Plugin</title>
    </content-generator>
    <content-generator id="reporting" type="prpt">
      <classname>org.pentaho.reporting.platform.plugin.ReportContentGenerator</classname>
      <fileinfo-classname>org.pentaho.reporting.platform.plugin.ReportFileMetaDataProvider</fileinfo-classname>
      <title>Reporting Plugin</title>
    </content-generator>
    <bean id="SimpleReportingComponent" class="org.pentaho.reporting.platform.plugin.SimpleReportingComponent"/>

</plugin>

