<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- set this to true for production, and false for development/localization -->
    <cache-messages>true</cache-messages>
    <!-- how far ahead to set the browser's cache -->
    <max-age>2628001</max-age>
    <cache>true</cache>
	
	<force-prpti-output-unlock>false</force-prpti-output-unlock>
    
	<!--
    <auto-submit>false</auto-submit>
    <auto-submit-default>false</auto-submit-default>
	-->

  <!-- Enabled or disabled row limit control on UI. No value means disabled.-->
  <query-limit-ui-enabled>true</query-limit-ui-enabled>
  <!-- The maximum number of rows that will be rendered in a report viewer. -->
  <query-limit>0</query-limit>
    
</settings>
