.style-0 {
    empty-cells: show; 
    table-layout: fixed; 
    width: 590pt
}

.style-1 {
    color: white; 
    font-size: 18pt; 
    font-family: "Arial"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #0000cc
}

.style-10 {
    border-top: 1pt solid #66ff66; 
    border-bottom: 1pt solid #66ff66; 
    background-color: #66ff66
}

.style-2 {
    color: #009999; 
    font-size: 18pt; 
    font-family: "Arial"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-3 {
    background-color: #ff6600
}

.style-4 {
    color: white; 
    font-size: 12pt; 
    font-family: "Arial"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ff6600
}

.style-5 {
    color: black; 
    font-size: 11pt; 
    font-family: "Arial"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ff6600
}

.style-6 {
    color: black; 
    font-size: 10pt; 
    font-family: "Arial"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-7 {
    color: black; 
    font-size: 10pt; 
    font-family: "Arial"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-8 {
    color: #ff0000; 
    font-size: 10pt; 
    font-family: "Arial"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-9 {
    color: black; 
    font-size: 11pt; 
    font-family: "Arial"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-top: 1pt solid #66ff66; 
    border-left: 1pt solid #66ff66; 
    border-bottom: 1pt solid #66ff66; 
    background-color: #66ff66
}

