.dijitDialog .dijitDialogPaneContent #downloadProgress .dijitProgressBarTile {
  background: #cbefa3;
}

.feedbackscreentextupper {  
  padding: 10px 0 20px 6px;
  line-height: 2em;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.feedbackscreentextmiddle {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 0 0 6px;
}

.bottom-table {  
  width: 100%;
  padding-bottom: 9px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}