<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>MockReportContentGenerator</servlet-name>
		<servlet-class>org.pentaho.reporting.platform.plugin.gwt.server.MockReportContentGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MockReportContentGenerator</servlet-name>
		<url-pattern>/content/reporting</url-pattern>
	</servlet-mapping>
</web-app>